{% extends "/partials/after_base.html" %}
{% block content %}
<div class="container book-review-container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="border p-3 mb-5" style="display: flex; align-items: center; justify-content: center;">
                <img id="bookCover" src="data:image/jpeg;base64,{{ cover }}" alt="Book Cover" class="img-fluid form-label d-flex mb-3">
            </div>
        </div>
        <div class="col-md-8">
            <div class="row mb-5">
                <h1 class="h1 text-center danger col-md-5">View Book</h1>
                <a href="{{url_for('edit_book', idx=book.id)}}" class="btn btn-sm btn-secondary col-md-3 me-5" role="button">Edit</a>
                <a href="{{url_for('delete_book', idx=book.id)}}" class="btn btn-sm btn-danger col-md-3" role="button">Delete</a>
            </div>
            <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Book Title:</label>
                        <label class="form-label">{{ book.title }}</label>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Author:</label>
                        <label class="form-label">{{ book.author }}</label>
                    </div>
            </div>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Genre:</label>
                        <label class="form-label">{{ book.genre }}</label>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Pages:</label>
                        <label class="form-label">{{ book.pages }}</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Start Date:</label>
                        <label class="form-label">{{ start_date }}</label>
                    </div>
                    <div class="col">
                        <label class="form-label">End Date:</label>
                        <label class="form-label">{{ end_date }}</label>
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <label class="form-label">Format:</label>
                    <label class="form-label">{{ book.format }}</label>
                </div>
                <div class="row mb-3">
                    <div class="mb-3 col-md-6 text-center">
                        <label class="form-label">Rating:</label>
                        <label class="form-label">{{ "⭐" * book.stars }}</label>
                    </div>
                    <div class="mb-3 col-md-6 text-center">
                        <label class="form-label text-center">Spice:</label>
                        <label class="form-label">{{ "🌶️" * book.spice }}</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Feeling:</label>
                    <label class="form-label">{{ feeling }}</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Summary:</label>
                    <textarea class="form-control" name="summary" readonly>{{ book.summary }}</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Favorite Quote:</label>
                    <textarea class="form-control" name="fav_quote" readonly>{{ book.fav_quote }}</textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Thoughts & Impressions:</label>
                    <textarea class="form-control" name="thoughts" readonly>{{ book.thoughts_impressions }}</textarea>
                </div>
        </div>
    </div>
</div>
{% endblock %}