.btn-danger {
    background-color: #dc2626 !important; /* Red-600 */
    border-color: #b91c1c !important;
}

.btn-danger:hover {
    background-color: #b91c1c !important; /* Darker shade */
    border-color: #991b1b !important;
}

/* Custom hover effect with smooth transition */
.link-danger {
    color: #dc2626 !important;
    transition: color 0.3s ease, background-color 0.3s ease !important;
}

.danger{
    color: #dc2626 !important;
}

.link-danger:hover {
    color: #d32f2f !important;
    background-color: #ffcccb !important;
}

.book-review-container {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.btn-yes, .btn-no {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50% !important;
    font-size: 18px !important;
}
